In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import datetime

%config IPCompleter.greedy=True 
%matplotlib inline

In [51]:
class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [52]:
#for trend label
source_file='datasets\\Tf15M\\Data_S50F_15M_2014Now\\ML-Trend_S50F-15M_2014Now-TrainData.csv'

train_file='datasets\\Tf15M\\Train14To15_Test16To17\\Train_Trend_S50-15M_14To15.csv'

test_file='datasets\\Tf15M\\Train14To15_Test16To17\\Test_Trend_S50-15M_16To17.csv'
unlabel_file='datasets\\Tf15M\\Train14To15_Test16To17\\Unlabel_Trend_S50-15M_16To17.csv'

In [60]:
dfx=pd.read_csv(source_file,index_col='datetime',parse_dates =['datetime'],dayfirst=True)

print(dfx.shape)

(33272, 28)

# Create Train Data

In [61]:
df_train=dfx.loc['2014':'2015',:]
#df_train.info()
display('df_train.head(3)','df_train.tail(3)')
df_train.to_csv(train_file)

In [62]:
display('df_train.head(3)','df_train.tail(3)')

,open,high,low,close,indy_ma-110,indy_ma-440,indy_ma-550,indy_ema-600,indy_ma-1100,indy_hh-550,...,indy_rsi25-ma20,indy_6ATRTrail-110,indy_6ATRTrail_DC-110,cate_3trend-550,cate_2trend-1100,cate_rannkHL1100-MA66,cate_MACDTrend,cate_RsiTrend,cate_CombineTrend,TrendLabel
datetime,,,,,,,,,,,,,,,,,,,,,
2014-01-02 09:45:00,868.5,868.9,863.5,863.5,895.70,918.17,922.19,923.27,952.07,974.5,...,33.26,879.62,900.28,1,0,3,1,1,1,2
2014-01-02 10:00:00,864.0,864.9,862.2,863.1,895.24,918.03,922.01,923.07,951.95,974.5,...,33.42,879.22,900.29,1,0,3,1,1,1,2
2014-01-02 10:15:00,863.2,864.5,861.6,861.6,894.76,917.89,921.82,922.87,951.82,974.5,...,33.68,877.73,900.28,1,0,3,1,1,1,2
,open,high,low,close,indy_ma-110,indy_ma-440,indy_ma-550,indy_ema-600,indy_ma-1100,indy_hh-550,...,indy_rsi25-ma20,indy_6ATRTrail-110,indy_6ATRTrail_DC-110,cate_3trend-550,cate_2trend-1100,cate_rannkHL1100-MA66,cate_MACDTrend,cate_RsiTrend,cate_CombineTrend,TrendLabel
datetime,,,,,,,,,,,,,,,,,,,,,
2015-12-30 16:15:00,794.6,796.2,794.4,796.0,797.98,822.61,833.75,831.84,867.64,896.0,...,51.40,805.92,803.98,1,0,3,2,4,3,2
2015-12-30 16:30:00,795.9,795.9,794.0,794.2,797.81,822.45,833.57,831.72,867.52,896.0,...,51.26,805.92,804.01,1,0,3,2,4,3,2
2015-12-30 16:45:00,794.2,795.2,793.7,794.7,797.62,822.28,833.39,831.60,867.41,896.0,...,51.20,805.92,804.06,1,0,3,2,4,3,2

# Creat Test & Unseen Data

In [63]:
labelname='TrendLabel'
colList=[col for col in dfx.columns if col!=labelname]

df_test=dfx.loc['2016':'03-2018',:]
df_unseen=dfx.loc['2016':'03-2018',colList]


#df_test.info()
#df_unseen.info()

In [64]:
display('df_test.head(3)','df_test.tail(3)')

,open,high,low,close,indy_ma-110,indy_ma-440,indy_ma-550,indy_ema-600,indy_ma-1100,indy_hh-550,...,indy_rsi25-ma20,indy_6ATRTrail-110,indy_6ATRTrail_DC-110,cate_3trend-550,cate_2trend-1100,cate_rannkHL1100-MA66,cate_MACDTrend,cate_RsiTrend,cate_CombineTrend,TrendLabel
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-04 09:45:00,785.0,787.0,782.5,785.0,797.45,822.09,833.2,831.44,867.28,896.0,...,50.39,800.03,790.43,1,0,3,2,4,3,2
2016-01-04 10:00:00,784.8,785.0,782.3,784.5,797.30,821.90,833.0,831.28,867.16,896.0,...,49.42,799.54,789.03,1,0,3,2,3,3,2
2016-01-04 10:15:00,784.5,785.5,783.4,784.4,797.16,821.71,832.8,831.13,867.03,896.0,...,48.40,799.42,789.06,1,0,3,2,3,3,2
,open,high,low,close,indy_ma-110,indy_ma-440,indy_ma-550,indy_ema-600,indy_ma-1100,indy_hh-550,...,indy_rsi25-ma20,indy_6ATRTrail-110,indy_6ATRTrail_DC-110,cate_3trend-550,cate_2trend-1100,cate_rannkHL1100-MA66,cate_MACDTrend,cate_RsiTrend,cate_CombineTrend,TrendLabel
datetime,,,,,,,,,,,,,,,,,,,,,
2018-03-30 16:15:00,1168.4,1168.8,1163.6,1165.1,1177.66,1183.18,1185.18,1180.07,1178.46,1221.9,...,41.29,1153.22,1176.80,2,1,3,1,2,2,1
2018-03-30 16:30:00,1165.0,1167.0,1163.4,1165.8,1177.53,1183.13,1185.18,1180.02,1178.44,1221.9,...,41.66,1153.22,1176.76,2,1,3,1,2,2,1
2018-03-30 16:45:00,1165.9,1166.7,1163.9,1163.9,1177.40,1183.07,1185.18,1179.97,1178.43,1221.9,...,42.08,1153.22,1176.75,2,1,3,1,2,2,1

In [65]:
display('df_unseen.head(3)','df_unseen.tail(3)')

,open,high,low,close,indy_ma-110,indy_ma-440,indy_ma-550,indy_ema-600,indy_ma-1100,indy_hh-550,...,indy_hist_macd110-440,indy_rsi25-ma20,indy_6ATRTrail-110,indy_6ATRTrail_DC-110,cate_3trend-550,cate_2trend-1100,cate_rannkHL1100-MA66,cate_MACDTrend,cate_RsiTrend,cate_CombineTrend
datetime,,,,,,,,,,,,,,,,,,,,,
2016-01-04 09:45:00,785.0,787.0,782.5,785.0,797.45,822.09,833.2,831.44,867.28,896.0,...,2.91,50.39,800.03,790.43,1,0,3,2,4,3
2016-01-04 10:00:00,784.8,785.0,782.3,784.5,797.30,821.90,833.0,831.28,867.16,896.0,...,2.92,49.42,799.54,789.03,1,0,3,2,3,3
2016-01-04 10:15:00,784.5,785.5,783.4,784.4,797.16,821.71,832.8,831.13,867.03,896.0,...,2.94,48.40,799.42,789.06,1,0,3,2,3,3
,open,high,low,close,indy_ma-110,indy_ma-440,indy_ma-550,indy_ema-600,indy_ma-1100,indy_hh-550,...,indy_hist_macd110-440,indy_rsi25-ma20,indy_6ATRTrail-110,indy_6ATRTrail_DC-110,cate_3trend-550,cate_2trend-1100,cate_rannkHL1100-MA66,cate_MACDTrend,cate_RsiTrend,cate_CombineTrend
datetime,,,,,,,,,,,,,,,,,,,,,
2018-03-30 16:15:00,1168.4,1168.8,1163.6,1165.1,1177.66,1183.18,1185.18,1180.07,1178.46,1221.9,...,-1.88,41.29,1153.22,1176.80,2,1,3,1,2,2
2018-03-30 16:30:00,1165.0,1167.0,1163.4,1165.8,1177.53,1183.13,1185.18,1180.02,1178.44,1221.9,...,-1.94,41.66,1153.22,1176.76,2,1,3,1,2,2
2018-03-30 16:45:00,1165.9,1166.7,1163.9,1163.9,1177.40,1183.07,1185.18,1179.97,1178.43,1221.9,...,-1.99,42.08,1153.22,1176.75,2,1,3,1,2,2

In [66]:
df_unseen.to_csv(unlabel_file)
df_test.to_csv(test_file)