In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import datetime

import os

%config IPCompleter.greedy=True 
%matplotlib inline

In [2]:

class display(object):
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

# Merge TrainData Action and Trend to AUX1 and Aux2

In [6]:

train_filename=os.path.abspath(r'D:\DataSets\ML_LS\ML-Short_S50M15_07To1Q20-Train.csv')

ab_train_file=os.path.abspath(r'D:\DataSets\ABChart\AB-ML-Short_S50M15_07To1Q20-Train_V1.csv')

In [7]:
labelName='ShortSignal'

In [8]:
df_ab=pd.read_csv(train_filename,index_col='datetime',parse_dates =['datetime'],dayfirst=True)

print(df_ab.shape)

(69679, 22)

In [9]:
df_ab=df_ab[['open','high','low','close',labelName]]
display('df_ab.head()','df_ab.tail()')

df_ab.head()
                      open   high    low  close  ShortSignal
datetime
2007-01-03 09:45:00  460.0  460.5  458.0  458.0            0
2007-01-03 10:00:00  458.0  464.5  457.6  463.9            0
2007-01-03 10:15:00  463.9  464.0  459.2  460.0            0
2007-01-03 10:30:00  460.0  461.0  459.8  460.0            0
2007-01-03 10:45:00  460.0  460.7  460.0  460.5            0

df_ab.tail()
                      open   high    low  close  ShortSignal
datetime
2020-03-31 15:45:00  746.6  746.7  741.8  742.4            0
2020-03-31 16:00:00  742.1  744.9  742.0  743.0            0
2020-03-31 16:15:00  743.1  747.8  743.0  745.7            0
2020-03-31 16:30:00  745.8  746.5  742.5  743.8            0
2020-03-31 16:45:00  743.9  743.9  742.1  743.5            0

In [10]:
df_ab.to_csv(ab_train_file)